{% for host in groups['bootstrap'] %}
#!/bin/bash
set +x
export PULL_SECRET='PULLSECRETHERE'
set -x
export INT_IF="{{ hostvars[host]['intif'] }}"
export PRO_IF="{{ hostvars[host]['proif'] }}"

# Add extra registry (as insecure) if needed, such as
#EXTRA_REGISTRY=registry.example.com

# Set loglevel for OpenShift installation
#export LOGLEVEL="debug"
{% endfor %}
