{
  "status": {
    "hardware": {
      "hostname": "${hostname}",
      "nics": [
        {
          "ip": "${ipaddr}",
          "mac": "{{ hardware_json.ansible_facts.redfish_facts.nic.entries[0][1][nicnum].PermanentMACAddress }}",
          "model": "{{ hardware_json.ansible_facts.redfish_facts.nic.entries[0][1][nicnum].Description }}",
          "speedGbps": {{ hardware_json.ansible_facts.redfish_facts.nic.entries[0][1][nicnum].SpeedMbps / 1024 }},
          "vlanId": 0,
          "pxe": true,
          "name": "eno1"
        }
      ],
      "systemVendor": {
        "manufacturer": "{{ hardware_json.ansible_facts.redfish_facts.system.entries[0][1].Manufacturer }}",
        "productName": "{{ hardware_json.ansible_facts.redfish_facts.system.entries[0][1].Model }}",
        "serialNumber": "{{ hardware_json.ansible_facts.redfish_facts.system.entries[0][1].SerialNumber }}"
      },
      "firmware": {
        "bios": {
          "date": "unassigned",
          "vendor": "{{ hardware_json.ansible_facts.redfish_facts.bios_attribute.entries[0][1].SystemManufacturer }}",
          "version": "{{ hardware_json.ansible_facts.redfish_facts.bios_attribute.entries[0][1].SystemBiosVersion }}"
        }
      },
      "ramMebibytes": {{ (hardware_json.ansible_facts.redfish_facts.system.entries[0][1].MemorySummary.TotalSystemMemoryGiB * 1024) | int }},
      "storage": [],
      "cpu": {
        "arch": "x86_64",
        "model": "{{ hardware_json.ansible_facts.redfish_facts.system.entries[0][1].ProcessorSummary.Model }}",
        "clockMegahertz": {{ hardware_json.ansible_facts.redfish_facts.bios_attribute.entries[0][1].ProcCoreSpeed.split(" ")[0] | float * 1024 }},
        "count": {{ hardware_json.ansible_facts.redfish_facts.system.entries[0][1].ProcessorSummary.LogicalProcessorCount | default(0) }},
        "flags": []
      }
    }
  }
}
